/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML Selectors */
body {
  font-family: 'Roboto', Helvetica, sans-serif;
}

.main-nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(287, 56%, 83%);
}

.main-nav span {
  font-family: cursive;
  font-size: clamp(25px, calc(1.5rem + 1vw), 60px);
  font-weight: bold;
  letter-spacing: 0.1em;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4em 0;
}

.intro-text {
  font-size: clamp(20px, calc(1.15rem + 1vw), 40px);
  max-width: 500px;
}

.intro-text .hello-span {
  color: red;
}

.supporting-statement {
  font-size: clamp(10px, calc(0.65rem + 1vw), 16px);
  padding: 0 1.5em;
  max-width: 500px;
}

.output-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5em;
  width: 100%;
  max-width: 300px;
}

.output-container textarea {
  padding: 1em;
  border: 2px solid hsl(287, 56%, 83%);
  color: hsl(288, 52%, 17%);
  outline: none;
  border-radius: 0.75em;
}

.button {
  padding: 1em 2em;
  outline: none;
  border: none;
  background: hsl(288, 52%, 17%);
  color: #ffffff;
  border-radius: 0.75em;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  max-width: 200px;
  transition: all 0.3s ease;
}

.save-button {
  margin: 0 auto;
}

.button:hover {
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(0.9);
}

.facts-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 350px;
  margin: 0 1em;
}

.facts-list-container li {
  font-size: clamp(10px, calc(0.65rem + 1vw), 16px);
  text-align: left;
  border-bottom: 1px dotted black;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.35em;
}

.facts-list-container li .saved-time {
  font-weight: bold;
  text-align: right;
  font-size: clamp(8px, calc(0.65rem + 1vw), 14px);
}

.hide {
  display: none;
}
